<div class="container-fluid">
    <div class="col-md-2"> 
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Category:
                    <select ng-model="$ctrl.productCategory">
                        <option ng-repeat="category in $ctrl.productCategories">{{category}}</option>
                    </select> 
                </p>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.isLoading" class="spinner"></div>
    <div class="col-md-10"> 
        <div class="row panel panel-default">
            <div class="panel-body">
                <!--TODO: Make this a component?-->
                <div class="col-md-3"> 
                    <p class="simple-input-group">
                        Search name:
                        <input class="simple-input" ng-model="$ctrl.nameQuery">
                    </p>
        
                    <p class="simple-input-group">
                        Search ID:
                        <input class="simple-input" ng-model="$ctrl.idQuery">
                    </p>
                    
                    <p>
                        <input type="checkbox" ng-model="$ctrl.filterInStock" ng-false-value="">Show only products in stock</input>
                    </p>
                </div>

                <div class="col-md-3"> 
                    <p class="range-input"> <!-- TODO: implement some kind of slider. Make a component?-->
                        Price range:
                        <input ng-model="$ctrl.minPrice">
                        - 
                        <input ng-model="$ctrl.maxPrice">
                    </p>
        
                    <p class="range-input"> <!-- TODO: implement some kind of slider. Make a component?-->
                        Volume range:
                        <input ng-model="$ctrl.minVolume">
                        - 
                        <input ng-model="$ctrl.maxVolume">
                    </p>
                </div>
                
                <div class="col-md-6"> 
                    <p>
                        Sort by:
                        <select ng-model="$ctrl.orderProp">
                            <option value="name">Alphabetical</option>
                            <option value="-price">Most expensive</option>
                            <option value="price">Cheapest</option>
                        </select>
                    </p>
                </div>
            </div>
        </div>
        <!--TODO: Make this a component?-->
        <div  ng-if="!$ctrl.isLoading">
            <div class="row">
                <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">Name
                            </th>
                            <th class="th-sm">ID
                            </th>
                            <th class="th-sm">Price
                            </th>
                            <th class="th-sm">Volume
                            </th>
                            <th class="th-sm">In stock
                            </th>   
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in $ctrl.displayProducts 
                        | filter:{name: $ctrl.nameQuery, id: $ctrl.idQuery, stock: $ctrl.filterInStock} 
                        | filter:$ctrl.filterPrice 
                        | filter:$ctrl.filterVolume
                        | orderBy: $ctrl.orderProp 
                        | limitTo: $ctrl.productsPerPage : $ctrl.productsPerPage * ($ctrl.pageNumber - 1)"> <!-- Have a single filter function instead?-->
                            <td>{{c.name}}</td>
                            <td>{{c.id}}</td>
                            <td>{{c.price}} SEK</td>
                            <td>{{c.volume}}</td>
                            <td>{{c.stock ? 'Yes' : 'No'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Name
                            </th>
                            <th>ID
                            </th>
                            <th>Price
                            </th>
                            <th>Volume
                            </th>
                            <th>In stock
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div >

            <div class="row">
                <span class="page-index">Page <span>{{$ctrl.pageNumber}}</span> of <span>{{$ctrl.pages.length}}</span></span>
            </div>

            <div class="row">
                <!-- Could easily be a separate component-->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" ng-class="{disabled: $ctrl.pageNumber === 1}">
                            <a class="page-link no-select" ng-click="$ctrl.onPaginationClick('first')">
                                << First
                            </a>
                        </li>
                        <li class="page-item" ng-class="{disabled: $ctrl.pageNumber === 1}">
                            <a class="page-link no-select" ng-click="$ctrl.onPaginationClick('previous')">
                                < Previous
                            </a>
                        </li>
                        <li ng-repeat="page in $ctrl.currentPaginationPages" ng-class="{active: page === $ctrl.pageNumber}" class="page-item">
                            <a class="page-link no-select" ng-click="$ctrl.onPaginationClick(page)">
                                {{page}}
                            </a>
                        </li>
                        <li class="page-item" ng-class="{disabled: $ctrl.pageNumber === $ctrl.pages.length}">
                            <a class="page-link no-select" ng-click="$ctrl.onPaginationClick('next')">
                                Next >
                            </a>
                        </li>
                        <li class="page-item" ng-class="{disabled: $ctrl.pageNumber === $ctrl.pages.length}">
                            <a class="page-link no-select" ng-click="$ctrl.onPaginationClick('last')">
                                Last >>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
