<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"> 
            <!--TODO: Make this a component?-->
            <p>
            Search name:
            <input ng-model="$ctrl.nameQuery">
            </p>

            <p>
                Search ID:
                <input ng-model="$ctrl.idQuery">
            </p>

            <p> <!-- TODO: implement some kind of slider. Make a component?-->
                Price range:
                <input ng-model="$ctrl.minPrice">
                 - 
                <input ng-model="$ctrl.maxPrice">
            </p>

            <p> <!-- TODO: implement some kind of slider. Make a component?-->
                Volume range:
                <input ng-model="$ctrl.minVolume">
                 - 
                <input ng-model="$ctrl.maxVolume">
            </p>
    
            <p>
            Sort by:
            <select ng-model="$ctrl.orderProp">
                <option value="name">Alphabetical</option>
                <option value="-price">Most expensive</option>
                <option value="price">Cheapest</option>
            </select>
            </p>
            <p>
                Category:
                <select ng-model="$ctrl.productCategory">
                    <option ng-repeat="category in $ctrl.productCategories">{{category}}</option>
                </select> 
            </p>

            <p>
                <input type="checkbox" ng-model="$ctrl.filterInStock" ng-false-value="">Show only products in stock</input>
            </p>
    
        </div>
        <div ng-if="$ctrl.isLoading" class="spinner"></div>
        <div class="col-md-10"> 
            <!--TODO: Make this a component?-->
            <div  ng-if="!$ctrl.isLoading">
                <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                        <th class="th-sm">Name
                        </th>
                        <th class="th-sm">ID
                        </th>
                        <th class="th-sm">Price
                        </th>
                        <th class="th-sm">Volume
                        </th>
                        <th class="th-sm">In stock
                        </th>   
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in $ctrl.displayProducts 
                        | filter:{name: $ctrl.nameQuery, id: $ctrl.idQuery, stock: $ctrl.filterInStock} 
                        | filter:$ctrl.filterPrice 
                        | filter:$ctrl.filterVolume
                        | orderBy: $ctrl.orderProp 
                        | limitTo: $ctrl.productsPerPage : $ctrl.productsPerPage * ($ctrl.pageNumber - 1)"> <!-- Have a single filter function instead?-->
                            <td>{{c.name}}</td>
                            <td>{{c.id}}</td>
                            <td>{{c.price}} SEK</td>
                            <td>{{c.volume}}</td>
                            <td>{{c.stock ? 'Yes' : 'No'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Name
                            </th>
                            <th>ID
                            </th>
                            <th>Price
                            </th>
                            <th>Volume
                            </th>
                            <th>In stock
                            </th>
                        </tr>
                    </tfoot>
                </table>
                <select ng-model="$ctrl.productsPerPage"> <!-- TODO: ng-repeat on array-->
                    <option>5</option>
                    <option>10</option>
                    <option>50</option>
                    <option>100</option>
                </select>
                <!-- TODO: ng-repeat on $ctrl.products.length, but "up to 5" or something. Next, prev, first, last-->
                <!-- It seems weird not to be able to do "for i from 1 to 10", or something-->
                <select ng-model="$ctrl.pageNumber" ng-options="x for x in $ctrl.pages"></select> 
            </div>
        </div>
    </div>
</div>
